.header{
  background-color: #fdfdfd;
  width: 100vw;
  height: 80px;
  &__top{
    display: flex;
    align-items: center;
  }

  .title{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 30px;
    font-family: serif;
    color: #006400;
  }
  .function{
    display: flex;
    position: absolute;
    top: 30px;
    right: 100px;
    &__list{
      display: flex;
      align-items: center;
      li{
        margin-left:20px;
      }
    }
  }

}
.main{
  background-color: #f2f2f2;
  height: calc(100vh - 180px);
}

.card-display{
  height: calc(100vh - 300px);
  padding-top: 50px;
  &__box{
    display: flex;
    justify-content: space-around;
  }
  &__box li{
    display: inline;

  }
  &__box li a{
    display: inline-block;
    background: #006400;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    width: 150px;
    text-align: center;
  }
  &__box li a:hover,
  &__box li a.active{
    background: #ddd;
    color: #333;
  }
}
.contents {
  padding: 20px;

}

.footer{
  background-color: #f2f2f2;
  width: 100vw;
  height: 100px;
  text-align: center;
  color: #9f9f9f;
  font-family: serif;
}

.Search{
  margin: auto;
  margin-bottom: 5px;
  width: 800px;
  .Form__contents{
    width: 100%;
    display: flex;
    .Form__inputText{
      height: 36px;
      padding: 0 0 0 5px;
      width: 500px;
    }
    .Search__btn{
      width: 36px;
      border: 0;
      cursor: pointer;
      background-color:#00a381;
      padding: 8px;
      &--icon{
        width: 100%;
        vertical-align: bottom;
      }
    }
  }
}

