.header{
  background-color: #fdfdfd;
  width: 100vw;
  height: 80px;
  &__top{
    display: flex;
    align-items: center;
  }

  .title{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 30px;
    font-family: serif;
    color: #006400;
    text-decoration: none;
  }
  .function{
    display: flex;
    position: absolute;
    top: 30px;
    right: 100px;
    &__list{
      display: flex;
      align-items: center;
      li{
        margin-left:20px;
        .Button{
        text-decoration: none;
        color: black;
        }
      }
    }
  }
}

.Comment__box{
  padding: 24px;
  background-color: #fff;
  margin: 10px 0;
  text-align: center;
  .CommentName {
    margin: 0 40px;
    text-align: left;
    display: flex;
    text-decoration: none;
  }
  .cardUser {
    background-color: #f0fff0;
    margin: 0 10px;
    padding: 0 5px;
    color: #808080
  }

  .CommentText {
    background-color: #f0fff0;
    margin: 10px 20px 30px;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    display: flex;
    p{
      padding: 0 10px;
    }
  }
  .New__comment{
    &__body{
      width: 100%;
      min-height: 104px;
      padding: 10px;
    }
  }
  .Comment__btn{
    line-height: 48px;
    background: #006400;
    border: 1px solid #006400;
    color: #fff;
    width: 60%;
    font-size: 18px;
    border-radius: 100px;
    text-align: center;
    margin: 10px;
  }
}
.main{
  background-color: #f2f2f2;
  height: calc(100vh - 180px);
  .title{
    margin-left: 100px;
    font-size: 20px;
    padding-top: 50px;
  }
}

.card-display{
  height: calc(100vh - 300px);
  padding-top: 50px;
  &__box{
    display: flex;
    justify-content: space-around;
  }
  &__box li{
    display: inline;

  }
  &__box li a{
    display: inline-block;
    background: #006400;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    width: 150px;
    text-align: center;
  }
  &__box li a:hover,
  &__box li a.active{
    background: #ddd;
    color: #333;
  }
}
.contents {
  padding: 20px;
  .ProductLists{
    height: 500px;
    .ProductList{
      width: 300px;
      height: 100px;
      background-color: white;
      display: flex;
      margin: 30px;
      float: left;
      .ProductList__body{
        text-decoration: none;
        color: black;
        position: relative;
        .type{
          width: 150px;
          padding-left: 10px;
          background-color: #228b22;
          color: white;
        }
        .name{
          width: 250px;
          padding: 10px;
          white-space: nowrap;  
          overflow: hidden;  
          text-overflow: ellipsis;  
          -webkit-text-overflow: ellipsis;  
          -o-text-overflow: ellipsis; 
        }
        .user{
          position: absolute;
          top: 75px;
          right: 0;
        }
      }

    }
  }
}
.content-search{
  padding: 20px;
  .ProductLists{
    height: 500px;
    .ProductList{
      width: 300px;
      height: 100px;
      background-color: white;
      display: flex;
      margin: 30px;
      float: left;
      .ProductList__body{
        text-decoration: none;
        color: black;
        position: relative;
        .type{
          width: 150px;
          padding-left: 10px;
          background-color: #228b22;
          color: white;
        }
        .name{
          width: 250px;
          padding: 10px;
          white-space: nowrap;  
          overflow: hidden;  
          text-overflow: ellipsis;  
          -webkit-text-overflow: ellipsis;  
          -o-text-overflow: ellipsis; 
        }
        .user{
          position: absolute;
          top: 75px;
          right: 0;
        }
      }
    }
  }
}
.footer{
  background-color: #f2f2f2;
  width: 100vw;
  height: 100px;
  text-align: center;
  color: #9f9f9f;
  font-family: serif;
}

.Search{
  margin: auto;
  margin-bottom: 5px;
  width: 800px;
  .Form__contents{
    width: 100%;
    display: flex;
    .Form__inputText{
      height: 36px;
      padding: 0 0 0 5px;
      width: 500px;
    }
    .Search__btn{
      width: 36px;
      border: 0;
      cursor: pointer;
      background-color:#006400;
      padding: 8px;
      &--icon{
        width: 100%;
        vertical-align: bottom;
      }
    }
  }
}

