.AccountPage {
  min-height: 100vh;
  background-color: #f8f8f8;
  &__header{
    text-align: center;
    padding: 40px;
  }
}
.icon{
  width: 120px;
  margin: 0 auto;
}
.Main-AccountPage{
  width: 100%;
  padding-top: 200px;
  &__move{
    width: 500px;
    margin: auto;
    background-color: #fff;
    &--title{
      padding: 40px 64px 20px;
    }
  }
}
.AccountPage__title {
  padding: 0 0 40px 0;
  border-top: 1px solid #eee;
  &--main{
    max-width: 343px;
    margin: 0 auto;
  }
}
.new_user{
  max-width: 320px;
  margin: auto;
}
.field{  
  width: 100%;
  height: 30px;
  margin: 40px 10px 0;
  &__box{
    width: calc(100% - 32px);
    margin: 8px 0 0;
    padding-left: 10px;
    font-size: 16px;
    height: 35px;
  }
  &__boxmin{
    width: calc(50% - 20px);
    margin: 8px 0 0;
    margin-right: 8px;
    padding-left: 10px;
    font-size: 16px;
    height: 35px;
  }
  &__date-box{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
  &__bottom{
    display: block;
    margin: 30px auto 0;
    max-width: 320px;
    text-decoration: none;
    color: #ffb340;
    font-size: 14px;
    text-align: center;
  }
}
.actions{
  
  &__box{
    line-height: 35px;
    background: #006400;
    border: 1px solid #006400;
    color: #ffffff;
    margin: 40px 0 0;
    width: 80%;
    margin-left:25px
  }
}