.header
  .header__top
    .title
      File-Shelf
    .Search
      =form_with(url: search_cards_path, local: true, method: :get, class: "Form__contents") do |form|
        =form.text_field :keyword,placeholder: "キーワードから探す", class: "Form__inputText"
        %button.Search__btn{type: "submit"}
          = image_tag 'icon/icon-search 1.png', class: 'Search__btn--icon'
    .function

      %ul.function__list
        %li
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Button'
        %li 
          = link_to "新規文書登録", new_card_path, class: 'Button'