%ul.tabnav
  %li
    %a{:href => "#tab01"} メニュー1
  %li
    %a{:href => "#tab02"} メニュー2
  %li
    %a{:href => "#tab03"} メニュー3
.tabcontent
  #tab01 タブ1の内容
  #tab02
    タブ2の内容
    %br>/
    タブ2の内容
  #tab03
    タブ3の内容
    %br>/
    タブ3の内容
    %br>/
    タブ3の内容
