


.header
  .header__top
    .title
      File-Shelf
    .Search
      %form.Form__contents
        %input.Form__inputText{placeholder: "キーワードから探す", type: "search"}
        %button.Search__btn{type: "submit"}
          = image_tag '', class: 'Search__btn--icon'
    .function

      %ul.function__list
        %li
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Button'
        %li 
          = link_to "新規文書登録", new_card_path, class: 'Button'


.main
  .card-display
    %ul.card-display__box
      %li
        %a{href: "#content01"} プログラミング
      %li
        %a{href: "#content02"} インフラ
      %li
        %a{href:"#content03"} 転職
      %li
        %a{href: "#content04"} 新着文書
      %li
        %a{href: "#content05"} 履歴
    .contents
      #content01
        Ruby
      #content02
        AWS
      #content03
        転職
      #content04
        新着文書
      #content05
        履歴

.footer
  FileーShelf